.card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 13px;
    background-color: rgba(157, 154, 164, 0.759);
    margin-right: 59px;
  }
  .card:hover {
    background-color: rgba(157, 154, 164, 0.759);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }